<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Não Autorizado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="fourZeroThree">
            <h1>Você não está autorizado</h1>
            <p>Faça login para continuar</p>
            <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>