{% extends 'base.html' %}

{% block content %}

<div class="spaceFromNav">
<div class="wrapper">
    <div class="clothe__card__big" >
        <div class="big__card__img--space">
            <img src="{{ clothe.imgurl }}" alt="">
        </div>
        <div class="big__card__right">
            <div class="title" style="">
                <h1>{{ clothe.name }}</h1>
            </div>
            <div class="info" style="">
                <div class="price" style="color: green;text-align: center;">
                    <p> R$ {{ clothe.price }}</p>
                </div>
                <div style="">
                    <a href="/clothe/{{clothe.name}}">
                    <button class="card__button defaultBtn" >Comprar</button>
                    </a>
                </div>
            </div>
        </div>    
    </div>
</div>
</div>

{% endblock %}