{% extends 'base.html' %}

{% block content %}
<div class="home" style="height: 900px;justify-self: center; justify-content: center; padding-top: 40px;">
    
    <div class="banner relative" style="" >
            <div class="prev bannerbtn bannerbtn--left" id="prev--item">
                <p> < </p>
            </div>
            <div class="next bannerbtn bannerbtn--right" id="next--item">
                <p> > </p>
            </div>
            <div class="banner-bg relative" id="banner">
            {% for clothe in bannerClothes %}
            <div class="banner--item">
                <img src="{{ clothe.imgurl }}" alt="">
            </div>
            {% endfor %}
            </div>

    </div>
    <div class="wrapper">
        
        <h1 class="clothes--title" style="color: antiquewhite;">Roupas</h1>
        <form class="ctg_btns" method="post">

            {% for ctg in ctgs %}
            <button class="ctgBtn" name="ctg" value="{{ ctg }}">{{ ctg }}</button>
            {% endfor %}
        </form>
        <div class="clothes__content" style="display: flex;justify-content: center; gap: 45px;padding-top: 50px;">
        {% for clothe in clothes %}
            <div class="clothe__card" >
                <div class="card--img--space">
                    <img src="{{ clothe.imgurl }}" alt="">
                </div>
                <div class="card--content">
                <div class="title" style="">
                    <h1>{{ clothe.name }}</h1>
                </div>
                <div class="price" style="color: green;">
                <p> R$ {{ clothe.price }}</p>
                </div>
                <div style="display: flex;justify-content: center;">
                    <a href="ssr/clothe/{{clothe.id}}">
                    <button class="card__button" >Comprar</button>
                    </a>
                </div>
                </div>    
            </div>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}